.div-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-title {
    padding: 2rem 0 2rem 0;
    font-size: 2rem;
    color: #ff7f50;
    text-transform: uppercase;
}

.img-comments {
    width: 24%;
}

.div-comment {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .7rem;
    padding: 2rem 10rem 2rem 10rem;
    width: 50%;
}

.p-name {
    font-size: 1.3rem;
    font-weight: bolder;
    color: #ff7f50;
}

.p-date {
    font-size: 1.3rem;
    color: #ff7f50;
}

.p-comments{
    font-size: 1rem;
    color: #ff7f50;
}

.hr-line  {
    border: 0;
    background-color: #ff7f50;
    width: 90%;
    height: .2rem;
}